<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/" class="brand-link">
      <img src="assets/flipleo.png" class="logo" alt="Flipleo logo">
      <span class="brand">Flipleo</span>
    </a>
  </div>


  <div class="nav-links">
    <a routerLink="/flips" routerLinkActive="active" class="nav-link">
      Flips
    </a>

    <a routerLink="/auctions" routerLinkActive="active" class="nav-link">
      Auctions
    </a>
  </div>


  <div class="nav-right">
    @if (authService.isLoggedIn()) {
      <div class="user-info">
        <span class="user-name">{{ authService.userName() }}</span>
        <button mat-icon-button (click)="logout()" title="Logout">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    } @else {
      <button mat-raised-button color="primary" (click)="navigateToLogin()">
        Login
      </button>
    }
  </div>
</nav>
